{% extends 'base.html.twig' %}

{% block body %}
    <h1>Lista de Pedidos</h1>
    {{ form_start(formPesquisar, {attr : {class: 'form-inline'}}) }}
        {{ form_widget(formPesquisar.pesquisar, {attr : {'placeholder' : 'Pesquisar'}}) }}
        {{ form_widget(formPesquisar.pesquisarpor, {attr : {'placeholder' : 'Pesquisar Por'}}) }}
        <button typw="submit" class="btn btn-default">Pesquisar</button>
    {{ form_end(formPesquisar) }}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Cliente</th>
                    <th>Emissao</th>
                    <th>Total</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
            {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.id }}</td>
                    <td>{{ pedido.nome }}</td>
                    <td>{% if pedido.emissao %}{{ pedido.emissao|date('d/m/Y') }}{% endif %}</td>
                    <td>{{ pedido.total }}</td>
                    <td>
                        <a class="btn btn-default" href="{{ path('pedido_show', { 'id': pedido.id }) }}">Abrir</a>
                        <a class="btn btn-default" href="{{ path('pedido_additem', { 'id': pedido.id }) }}">Editar</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-info" href="{{ path('pedido_new') }}">Criar novo Pedido</a>

{% endblock %}
