{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger alert-dismissable fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>Erro: </strong> {{ message }}
        </div>
    {% endfor %}
    <h1>Novo Produto</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Cadastrar" />
    {{ form_errors(form) }}
    {{ form_end(form) }}

    <a class="btn btn-info" href="{{ path('produto_index') }}">Voltar</a>
{% endblock %}
